.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 50px;
	border-bottom: 1px solid $fd-color-black;
}

.title {
	font-size: $font-large;
}

.username {
	font-size: $font-medium;
	color: $fd-color-primary;
}

.joinBlock {
	display: flex;
	gap: 10px;
}
