.button {
	border: none;
	border-radius: $fd-radius-small;
	color: $fd-color-white;
	cursor: pointer;

	&:hover {
		border: 1px solid $fd-color-black;
	}

	&:active {
		border: 1px solid $fd-color-white;
	}
}

.intent-primary {
	background-color: $fd-color-primary;
}

.intent-secondary {
	background-color: $fd-color-secondary;
}

.intent-accent {
	background-color: $fd-color-accent;
}

.size-medium {
	width: 150px;
	height: 50px;
	font-size: $font-medium;
	line-height: $font-medium;
}

.size-small {
	width: 100px;
	height: 30px;
	font-size: $font-small;
	line-height: $font-small;
}

.size-large {
	width: 200px;
	height: 70px;
	font-size: $font-large;
	line-height: $font-large;
}