.button {
	border: none;
	border-radius: $small-radius;
	color: $fd-white;
	cursor: pointer;

	&:hover {
		border: 1px solid $fd-black;
	}

	&:active {
		border: 1px solid $fd-white;
	}
}

.intent-primary {
	background-color: $fd-primary-color;
}

.intent-secondary {
	background-color: $fd-secondary-color;
}

.intent-accent {
	background-color: $fd-accent-color;
}

.size-medium {
	width: 150px;
	height: 50px;
	font-size: $medium-font;
	line-height: $medium-font;
}

.size-small {
	width: 100px;
	height: 30px;
	font-size: $small-font;
	line-height: $small-font;
}

.size-large {
	width: 200px;
	height: 70px;
	font-size: $large-font;
	line-height: $large-font;
}