.sizeLarge {
	font-size: 180px;
	line-height: 180px;
}

.sizeMedium {
	font-size: $small-font * 2;
	line-height: $small-font * 2;
}

.sizeSmall {
	font-size: $medium-font * 2;
	line-height: $medium-font * 2;
}

.intent-primary {
	color: $fd-primary-color;
}

.intent-secondary {
	color: $fd-secondary-color;
}

.intent-accent {
	color: $fd-accent-color;
}
