.sizeLarge {
	font-size: 180px;
	line-height: 180px;
}

.sizeMedium {
	font-size: $font-small * 2;
	line-height: $font-small * 2;
}

.sizeSmall {
	font-size: $font-medium * 2;
	line-height: $font-medium * 2;
}

.intent-primary {
	color: $fd-color-primary;
}

.intent-secondary {
	color: $fd-color-secondary;
}

.intent-accent {
	color: $fd-color-accent;
}
