.input {
	padding-left: 10px;
	border-radius: $small-radius;
	border: 1px solid $fd-black;
	background-color: $fd-white;
	outline-color: $fd-black;
	color: inherit;
}

.sizeSmall {
	width: 200px;
	height: 30px;
	font-size: $small-font;
	line-height: $small-font;
}

.sizeMedium {
	width: 350px;
	height: 40px;
	font-size: $medium-font;
	line-height: $medium-font;
}

.stretch {
	width: 100%;
}
