.input {
	padding-left: 10px;
	border-radius: 4px;
	border: 1px solid $fd-black;
	background-color: $fd-white;
	outline-color: $fd-black;
	color: inherit;
}

.sizeSmall {
	width: 200px;
	height: 30px;
	font-size: 16px;
}

.sizeMedium {
	width: 350px;
	height: 40px;
	font-size: 24px;
}

.stretch {
	width: 100%;
}
