.input {
	padding-left: 10px;
	border-radius: $fd-radius-small;
	border: 1px solid $fd-color-black;
	background-color: $fd-color-white;
	outline-color: $fd-color-black;
	color: inherit;
}

.sizeSmall {
	width: 200px;
	height: 30px;
	font-size: $font-small;
	line-height: $font-small;
}

.sizeMedium {
	width: 350px;
	height: 40px;
	font-size: $font-medium;
	line-height: $font-medium;
}

.stretch {
	width: 100%;
}
