.sign-in-form {
	margin-top: 50px;
}

.title {
	padding-left: 150px;
	margin-bottom: 50px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 500px;
	margin: 0 auto;
}

.control {
	display: flex;
	flex-direction: column;
}
